html, body{
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Mono', monospace;
}
*{
    margin: 0;
    padding: 0;
}
.wrapper{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn{
    display: inline-block;
    box-sizing: border-box;
    width: 20px;
    height: 20px;
}
.result{
    margin-left: 10px;
    margin-right: 10px; 
}